{% load i18n %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<div class="lang-switcher" x-data="{ open: false }">
    <button type="button" class="nav-link lang-switcher__toggle" @click="open = !open">
        <span class="nav-icon">🌐</span>
        <span class="lang-label">
            {% for lang in languages %}
                {% if lang.code == CURRENT_LANG %}{{ lang.code|upper }}{% endif %}
            {% endfor %}
        </span>
        <span class="lang-caret">▾</span>
    </button>
    <div class="lang-switcher__menu" x-show="open" @click.outside="open = false" x-cloak>
        <form id="lang-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <input name="language" type="hidden" value="{{ CURRENT_LANG }}" id="lang-input">
        </form>
        {% for lang in languages %}
        <button type="button"
                class="lang-switcher__item {% if lang.code == CURRENT_LANG %}lang-switcher__item--active{% endif %}"
                @click="document.getElementById('lang-input').value='{{ lang.code }}'; document.getElementById('lang-form').submit()">
            {{ lang.name_local }}
        </button>
        {% endfor %}
    </div>
</div>
